h2 {
  font-size: 56px;
  text-align: center;
  padding-bottom: 50px;
  z-index: 1000;
  color: var(--header-color) !important;

  @media (max-width: 480px) {
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 0;
  }
}

.latest-container {
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 400px;

  padding: 0px 20%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  row-gap: 0;

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    padding: 5%;
    grid-auto-rows: 500px;

  }

  .latest-box {
    background-color: var(--bg-color);
    border: 0.2px solid var(--border-color);
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 15px;
    @media (max-width: 480px) {
      flex-direction: column;
      .image-box {
        width: 100%;
        min-height: 170px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

  }
  .latest-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    word-break: break-word !important;
    overflow-wrap: break-word;

  }
  .latest-overlay {
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease;
    color: var(--text-color);
    @media (max-width: 480px) {
      font-size: 1.4rem;

    }
    &:hover {
      color: #8c8c8c;
    }

  }
  .latest-text {
    font-size: 15px;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);


  }
  .info {
    color: var(--text-color);
    font-size: 11px;
  }

}
.show-more-button {
  transform: translateY(-320px);
}