.show-more-button {
  width: 17%;
  height: auto;
  background-color: black;
  color: white;
  padding: 16px 10px;
  transform: translateY(-320px);
  cursor: pointer;
  border: none;
  @media (max-width: 480px) {
    transform: none;
    width: 70%;


  }
}